* {
   font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#navbar {
   
background-color: #000;
 
}


#menu  a {
  
  color: #000;
  padding: 20px;
  text-decoration: none;
  


}

.nav {

  margin: 10px;
  margin-top: 20px;
  
 
}

#menu {
  list-style: none;
  margin: 0px auto ;
  flex-direction: column;
  float: right;
  
  
}



 #logo a {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  
} 

.imagen1 img {
  width: 100vh;
  margin: -80px ;
  align-items: center;
  #navbar {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
  }

  #menu a {
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
  }

  .nav {
    margin: 10px;
    margin-top: 20px;
  }

  #menu {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: center;
  }

   #logo a {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  } 

  .imagen1 img {
    width: auto;
    max-height: 140px;
    margin: 0;
    object-fit: contain;
  }
