* {
   font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
 

}



#menu  a {
  
  color: #000;
  text-decoration: none;
  
}

.nav {

   margin-top: 4vh;

}

#menu {
  list-style: none;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 0 -6vh 10vh ;  
}



 #logo a {
  font-size: 5vh;
  font-weight: bold;
  display: flex;
  align-items: center;

  
} 

.imagen1 img {
  width: 90vh;
  margin :0 auto;
  display: block;
  margin-top: -30vh;
}


#navbar {
  margin-top: px; 
display: flex;
justify-content: center;
align-items: center;
 
} 

