* {
   font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
 

}



#menu  a {
  
  color: #000;
  text-decoration: none;
  


}

.nav {

  /* margin: 10px; */
   margin-top: 4vh;
  /* margin-left: -800px;  */
 
}

#menu {
  list-style: none;
  margin-top: 5vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}



 #logo a {
  font-size: 5vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  
} 

.imagen1 img {
  width: 90vh;
  margin-left: 50vh;
  margin-top: -30vh;
}




#navbar {
  margin-top: px; 
display: flex;
justify-content: center;
align-items: center;
 
} 

